html, head, body, h1, figure, li, ul {
  margin: 0;
  padding: 0;
}

figure{
  height: 540px;
  width: 540px;
  border: 1px solid black;
}

/*.clearfix:after{
  display: block;
  content: "";
  clear: both;
}*/

ul{
}

li{
  float: left;
  list-style: none;
  height: 25px;
  width: 25px;
  border: 1px solid black;
}

li.snake{
  background-color: green;
}

li.apple {
  background-color: red;
}

.hidden {
  display: none;
}

div {
  display: block;
  width: 300px;
  background: #000080;
  color: #FFD700;
  position: fixed;
  margin: auto;
  top: 20px;
  z-index: 1;
  padding: 20px;
  border: 5px solid #fff;
}
